{{define "hidden_form_fields"}}
    <input type="hidden" name="uid" value="{{.UID}}">
    <input type="hidden" name="protocol" value="{{.Protocol}}">
    <input type="hidden" name="interface" value="{{.Interface}}">
    <input type="hidden" name="step" value="{{.Step}}">
{{end}}
{{define "question_label"}}
    <span class="question label label-rounded bg-secondary"></span>
{{end}}
{{define "form_scale"}}
    {{template "question_label"}}
    <span>{{.Question}}</span>
    <div class="form-group flex-group form-flex bg-secondary">
        <label class="form-radio form-inline form-flex bg-secondary">
            <input required type="radio" name="{{.Question}}" value="1"><i class="form-icon"></i>1 ({{.Low}})
        </label>
        <label class="form-radio form-inline form-flex bg-secondary">
            <input required type="radio" name="{{.Question}}" value="2"><i class="form-icon"></i>2
        </label>
        <label class="form-radio form-inline form-flex bg-secondary">
            <input required type="radio" name="{{.Question}}" value="3"><i class="form-icon"></i>3
        </label>
        <label class="form-radio form-inline form-flex bg-secondary">
            <input required type="radio" name="{{.Question}}" value="4"><i class="form-icon"></i>4
        </label>
        <label class="form-radio form-inline form-flex bg-secondary">
            <input required type="radio" name="{{.Question}}" value="5"><i class="form-icon"></i>5 ({{.High}})
        </label>
    </div>
    <div class="divider"></div>
{{end}}

{{define "form_short"}}
    {{template "question_label"}}
    <span>{{.Question}}</span>
    <div class="form-group">
        <label class="form-label" for="input-example-1">
            <input type="text" class="form-input" name="{{.Question}}" required>
        </label>
    </div>
    <div class="divider"></div>
{{end}}

{{define "form_long"}}
    {{template "question_label"}}
    <span>{{.Question}}</span>
    <div class="form-group">
        <label class="form-label" for="input-example-1">
            <textarea class="form-input" name="{{.Question}}" required rows="3"></textarea>
        </label>
    </div>
    <div class="divider"></div>
{{end}}

{{define "form_submit"}}
    <input id="step-complete-btn" class="btn btn-primary btn-lg" value="Complete Step" type="submit">
{{end}}

{{define "form_time"}}
    {{template "question_label"}}
    <span>{{.}}</span>
    <div class="form-group">
        <label class="form-radio bg-secondary">
            <input required type="radio" name="{{.}}" value="1 hour"><i class="form-icon"></i>less than 1 day (a few hours)
        </label>
        <label class="form-radio bg-secondary">
            <input required type="radio" name="{{.}}" value="8 hours"><i class="form-icon"></i>8 hours (about 1 working day)
        </label>
        <label class="form-radio bg-secondary">
            <input required type="radio" name="{{.}}" value="20 hours"><i class="form-icon"></i>20 hours (about half a working week)
        </label>
        <label class="form-radio bg-secondary">
            <input required type="radio" name="{{.}}" value="40 hours"><i class="form-icon"></i>40 hours (about 1 working week)
        </label>
        <label class="form-radio bg-secondary">
            <input required type="radio" name="{{.}}" value="80 hours"><i class="form-icon"></i>80 hours (about 2 working weeks)
        </label>
        <label class="form-radio bg-secondary">
            <input required type="radio" name="{{.}}" value="160 hours"><i class="form-icon"></i>160 hours hours (about 1 working month)
        </label>
        <label class="form-radio bg-secondary">
            <input required type="radio" name="{{.}}" value="more than 160 hours"><i class="form-icon"></i>more than 160 hours (more than 1 working month)
        </label>
    </div>
    <div class="divider"></div>
{{end}}

{{define "form_interface"}}
    {{template "question_label"}}
    <span>{{.}}</span>
    <div class="form-group">
        <label class="form-radio form-inline bg-secondary">
            <input required type="radio" name="{{.}}" value="searchrefiner"><i class="form-icon"></i>Interface <b>with</b> visualisation (searchrefiner)
        </label>
        <label class="form-radio form-inline bg-secondary">
            <input required type="radio" name="{{.}}" value="pubmed"><i class="form-icon"></i>Interface <b>without</b> visualisation (PubMed)
        </label>
    </div>
    <div class="divider"></div>
{{end}}