{{define "seed"}}
    <ul>
        {{range . }}
            <li><a href="#/">{{ . }}</a></li>
        {{end}}
    </ul>
{{end}}
{{define "queryvis"}}
    <ol>
        <li>Use the <b>searchrefiner</b> query visualiser to formulate an effective query for this task.</li>
        <li>Choose what you believe to be the most effective query using one of the <i class="btn btn-action btn-sm icon icon-forward"></i> buttons from your history below.</li>
    </ol>
    <a href="?uid={{.UID}}&tree" class="btn btn-primary" id="qvis-open-qvis-btn">Open Interface<i class="icon icon-arrow-right"></i></a>
{{end}}
{{define "pubmed"}}
    <ol>
        <li>Use the <b>PubMed</b> interface to formulate an effective query for this task.</li>
        <li>Choose what you believe to be the most effective query using one of the <i class="btn btn-action btn-sm icon icon-forward"></i> buttons from your history below.</li>
    </ol>
    <a href="?uid={{.UID}}&pubmed" class="btn btn-primary" id="pub-open-pubmed-btn">Open PubMed<i class="icon icon-arrow-right"></i></a>
{{end}}
{{define "history"}}
    <div class="panel p-2 mt-2">
        <div class="panel-header">
        </div>
        <div class="panel-body container">
            <div class="columns">
                <div class="column col-7 text-italic">Query</div>
                <div class="column col-2 text-italic">Items found</div>
                {{ if eq .Interface 1 }}
                    <div class="column col-2 text-italic">Relevant items found</div>
                {{ end }}
                <div class="column col-1 text-italic">Choice</div>
            </div>
            <div class="divider"></div>
            <div v-for="query in history">
                <div class="columns">
                    <div class="column col-7" id="hist-query-string">[[ query.QueryString ]]</div>
                    <div class="column col-2" id="hist-query-numret">[[ query.NumRet ]]</div>
                    {{ if eq .Interface 1 }}
                        <div class="column col-2">[[ query.NumRelRet ]]</div>
                    {{ end }}
                    <div class="column col-1">
                        <form method="post" action="/plugin/iuserstudy">
                            <!--suppress XmlUnboundNsPrefix -->
                            <input type="hidden" name="query" id="hist-query-string" v-bind:value="[[ query.QueryString ]]">
                            <button type="submit" class="btn btn-action" id="hist-best-query-submit-btn"><i class="icon icon-forward"></i></button>
                        </form>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
{{end}}
{{define "prestudy"}}
    <div class="info">
        <h2>Welcome</h2>
        <p>
            You are invited to participate in a user study about query visualisation in the context of systematic review query formulation.
            Please note that you are allowed to return to this page at any time, your progress will be saved automatically when you complete a step.
            Please bookmark this page for convenience.
        </p>
        <p>
            This study comprises eight steps in total for you to complete.
            Steps 3 and 6 will have you formulating queries in <b>PubMed syntax</b> for real systematic reviews.
            The other steps involve answering short questionnaires about your knowledge regarding the query formulation and the tasks and the information tasks.
            The visualisation below presents the tasks you will be completing in more detail, with respect to the tasks you will be performing and the questionnaires to complete.
        </p>
        <img src="/plugin/iuserstudy/static/process.png" alt="process of the user study." style="max-width: 520px;">
        <p>The first step in the study is the pre-study questionnaire, presented below.</p>
        <div class="panel">
            <div class="panel-header">
                <h3>Pre-Study Questionnaire <span class="h3">(Step {{ .Step }})</span></h3>
            </div>
            <div class="panel-body">
                {{template "prestudy_questions" .}}
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
{{end}}
{{define "pretask"}}
    <div class="info">
        <h2>Pre-Task Questionnaire <span class="h3">(Step {{ .Step }})</span></h2>
        <p><b>Task</b>: You have been provided with the following criteria for considering studies for including in a a systematic review:</p>
        {{ if eq .Protocol 1 }}
            {{template "protocol1" . }}
        {{ else }}
            {{template "protocol2" . }}
        {{ end }}
        <div class="divider"></div>
        <p>
            Your task is to formulate a query that will be used to screen studies for inclusion in the systematic review.
            Before you begin, please complete the following questionnaire.
        </p>
        <div class="panel">
            <div class="panel-header">
                <h3>Pre-Task Questionnaire <span class="h3">(Step {{ .Step }})</span></h3>
            </div>
            <div class="panel-body">
                {{template "pretask_questions" .}}
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
{{end}}
{{define "task"}}
    <div class="info">
        <h2>Task <span class="h3">(Step {{ .Step }})</span></h2>
        <p>Please complete the first task required by the study.</p>
        <p>We repeat the criteria for considering studies for inclusion inside the interface for your convenience. We also provide a number of "seed" studies that are known-to-be-relevant for this task.</p>
        <p>Below, we provide you with a link to the interface that you have to us to formulate the query that will be used to screen documents for inclusion in the review.</p>
        <p>When formulating a query, please <b>do not use any other system</b> other than the one prescribed below.</p>
        <p>There is a link in the top left of the interface to return back to this page when you are satisfied with the query you have formulated.</p>
        <h4>Interface</h4>
        {{ if eq .Interface 1 }}
            {{template "queryvis" . }}
        {{ else }}
            {{template "pubmed" . }}
        {{ end }}
    </div>
    <div class="divider"></div>
    {{template "history" .}}
{{end}}
{{define "posttask"}}
    <div class="info">
        <h2>Post-Task Questionnaire <span class="h3">(Step {{ .Step }})</span></h2>
        <div class="panel">
            <div class="panel-header"></div>
            <div class="panel-body">
                {{template "posttask_questions" .}}
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
{{end}}
{{define "poststudy"}}
    <div class="info">
        <h2>Post-Study Questionnaire <span class="h3">(Step {{ .Step }})</span></h2>
        <div class="panel">
            <div class="panel-header"></div>
            <div class="panel-body">
                {{template "poststudy_questions" .}}
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
{{end}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Visualisation User Study</title>
    <link rel="icon" href="/static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vis.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vue-multiselect.min.css" type="text/css">
    <link rel="stylesheet" href="/static/logtail.css" type="text/css">
    <link rel="stylesheet" href="/static/searchrefiner.css" type="text/css">
    <!--suppress CssUnknownTarget -->
    <style>
        p {
            text-align: left;
        }

        .info {
            max-width: 960px;
            margin: auto;
        }

        body {
            counter-reset: question-counter;
        }

        .question::before {
            counter-increment: question-counter;
            content: "Q" counter(question-counter);

        }

        .question {
            margin-right: 8px;
            margin-top: 32px;
        }

        .flex-group {
            display: flex;
        }

        .form-radio {
            border: 1px solid #bbb;
            cursor: pointer;
        }

        .form-flex {
            margin: 1px;
            flex: 1;
            text-align: center;
        }

        .form-group {
            margin-top: 32px;
            margin-bottom: 32px !important;
        }
    </style>
</head>
<body>
<script src="/static/vue.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/bigbro.js"></script>
<script type="text/javascript">
    let bb = BigBro.init({{.UID}}, window.location.host + "/plugin/iuserstudy?bigbro");
    window.addEventListener("load", function (e) {
        bb.log(e, "pageload", "{{.UID}}")
    })
</script>
<div id="app">
    <header class="navbar bg-secondary nav-height">
        <section class="navbar-section">Participant ID:<span class="label label-primary mr-1 ml-1">{{.UID}}</span></section>
    </header>
    <div class="panel info mt-2 mb-2">
        <div class="panel-header">
            <section class="container">
                {{template "qvus_header"}}
                <ul class="step">
                    <li class="step-item {{ if eq .Step 1}}active{{end}}">
                        <a href="#" class="tooltip" data-tooltip="Pre-Study Questionnaire">Step 1</a>
                    </li>
                    <li class="step-item {{ if eq .Step 2}}active{{end}}">
                        <a href="#" class="tooltip" data-tooltip="Pre-Task 1 Questionnaire">Step 2</a>
                    </li>
                    <li class="step-item {{ if eq .Step 3}}active{{end}}">
                        <a href="#" class="tooltip" data-tooltip="Task 1">Step 3</a>
                    </li>
                    <li class="step-item {{ if eq .Step 4}}active{{end}}">
                        <a href="#" class="tooltip" data-tooltip="Post-Task 1 Questionnaire">Step 4</a>
                    </li>
                    <li class="step-item {{ if eq .Step 5}}active{{end}}">
                        <a href="#" class="tooltip" data-tooltip="Pre-Task 2 Questionnaire">Step 5</a>
                    </li>
                    <li class="step-item {{ if eq .Step 6}}active{{end}}">
                        <a href="#" class="tooltip" data-tooltip="Task 2">Step 6</a>
                    </li>
                    <li class="step-item {{ if eq .Step 7}}active{{end}}">
                        <a href="#" class="tooltip" data-tooltip="Post-Task 2 Questionnaire">Step 7</a>
                    </li>
                    <li class="step-item {{ if eq .Step 8}}active{{end}}">
                        <a href="#" class="tooltip" data-tooltip="Post-Study Questionnaire">Step 8</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="panel-body">
            {{if eq .Step 1}}{{template "prestudy" .}}{{end}}
            {{if eq .Step 2}}{{template "pretask" .}}{{end}}
            {{if eq .Step 3}}{{template "task" .}}{{end}}
            {{if eq .Step 4}}{{template "posttask" .}}{{end}}
            {{if eq .Step 5}}{{template "pretask" .}}{{end}}
            {{if eq .Step 6}}{{template "task" .}}{{ end }}
            {{if eq .Step 7}}{{template "posttask" .}}{{end}}
            {{if eq .Step 8}}{{template "poststudy" .}}{{end}}
            {{if eq .Step 9}}
                <div class="panel col-8" style="margin: 1rem auto auto;">
                    <div class="panel-header">
                        <h3>Thank-you for participating in this study! 😎</h3>
                    </div>
                    <div class="panel-body">
                        You can now close this window. Your answers to the questionnaires and the queries you formulated have been recorded.
                    </div>
                    <div class="panel-footer"></div>
                </div>
            {{end}}
        </div>
        <div class="panel-footer"></div>
    </div>
</div>
<script>
    var vm = new Vue({
        delimiters: ["[[", "]]"],
        el: "#app",
        data: {
            history: [],
        },
        methods: {
            getHistory: function () {
                var self = this;
                request = new XMLHttpRequest();
                request.addEventListener("load", function (ev) {
                    self.history = JSON.parse(ev.target.responseText);
                });
                request.open("GET", "/api/history", true);
                request.send()
            },
        },
        beforeMount: function () {
            this.getHistory()
        }
    })
</script>
</body>
</html>