<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>searchrefiner - QueryVis</title>
    <link rel="icon" href="static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vis.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vue-multiselect.min.css" type="text/css">
    <link rel="stylesheet" href="/static/logtail.css" type="text/css">
    <link rel="stylesheet" href="/static/searchrefiner.css" type="text/css">
    <style>
        body, html, .container {
            height: 100%;
            max-height: 100%;
            overflow: hidden;
        }

        #tree {
            height: 100%;
        }

        #tree-wrapper {
            background-color: #f9f9f9;
            height: 100%;
        }

        textarea {
            padding: 0;
            margin: 0;
        }

        .tab-block {
            margin: 0;
        }

        .panel-header, .panel-body, .panel-footer {
            padding: 0 !important;
        }

        .panel {
            padding-left: 12px !important;
        }

        #console {
            margin: 0;
            overflow-y: scroll;
            height: 100%;
            background-color: #1c1c1c;
            color: #f9f9f9;
            font-size: 12px;
        }

        #tree-stats {
            position: absolute;
            top: 64px;
            right: 32px;
            background-color: #ffffff;
            padding: 8px;
            z-index: 99999999999;
            border: 1px solid #1c1c1c;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="/static/bigbro.js"></script>
<script type="text/javascript">
    let events = ["click", "dblclick", "submit", "cut", "copy", "paste", "select"];
    let bb = BigBro.init({{.UID}}, "43.240.96.223:1984", events);
</script>
<div class="container" id="app">
    <header class="navbar bg-secondary nav-height">
        <section class="navbar-section"><a href="?uid={{.UID}}"><i class="icon icon-arrow-left"></i>back</a></section>
        <section class="navbar-section">Participant ID:<span class="label label-primary mr-1 ml-1">{{.UID}}</span></section>
    </header>
    <div class="columns" style="height: calc(100%);">
        <div class="column col-6">
            <div class="form-group">
                <textarea name="query" class="form-input" id="search-box" placeholder="Use the builder below to create your search" rows="4" required v-model="textQuery" v-on:change="updateText" disabled></textarea>
                <input type="hidden" name="lang" value="pubmed">
            </div>
            {{/*<a href="#">Edit</a>*/}}
            <a href="#" style="float: right" v-on:click="clear">Clear</a>
            <p><b>Builder</b></p>
            <builder v-for="(query, index) in queries"
                     :key="query.id"
                     v-on:add="addQuery"
                     v-on:remove="removeQuery"
                     v-bind:query="query"
                     v-bind:index="index"
                     v-bind:last="index==queries.length-1"></builder>
            <button class="btn btn-sm btn-primary text-error nav-height" id="btn-update-tree" v-on:click="updateTree">
                <i class="icon icon-refresh"></i> Update Tree
            </button>
            {{/*or*/}}
            {{/*<a href="#">Add to history</a>*/}}
        </div>
        <div class="column col-6">
            <div id="tree-stats">
                <div><strong>[[ numRet ]]</strong> citations retrieved</div>
                <div><strong>[[ numRel ]]</strong> citations relevant</div>
                <div><strong>[[ numRelRet ]]</strong> citations relevant retrieved</div>
                <a href="/help#LoadingPMIDs">
                    <small>help?</small>
                </a>
            </div>
            <div id="tree-wrapper">
                <div id="tree" class="c-move"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-template" id="builder">
    <div class="columns" style="padding-bottom: 0.3rem">
        <div class="column col-2">
            <select class="form-select select-sm" v-if="index>0" v-model="query.operator" v-bind:field="query.operator" v-on:change="updateCQR">
                <option value="and">AND</option>
                <option value="or">OR</option>
                <option value="not">NOT</option>
            </select>
        </div>
        <div class="column col-3">
            <select class="form-select select-sm" v-model="query.field" v-bind:field="query.field" v-on:change="updateCQR">
                <option value="Affiliation">Affiliation</option>
                <option value="All Fields" selected="selected">All Fields</option>
                <option value="Author">Author</option>
                <option value="Author - Corporate">Author - Corporate</option>
                <option value="Author - First">Author - First</option>
                <option value="Author - Full">Author - Full</option>
                <option value="Author - Identifier">Author - Identifier</option>
                <option value="Author - Last">Author - Last</option>
                <option value="Book">Book</option>
                <option value="Conflict of Interest Statements">Conflict of Interest Statements</option>
                <option value="Date - Completion">Date - Completion</option>
                <option value="Date - Create">Date - Create</option>
                <option value="Date - Entrez">Date - Entrez</option>
                <option value="Date - MeSH">Date - MeSH</option>
                <option value="Date - Modification">Date - Modification</option>
                <option value="Date - Publication">Date - Publication</option>
                <option value="EC/RN Number">EC/RN Number</option>
                <option value="Editor">Editor</option>
                <option value="Filter">Filter</option>
                <option value="Grant Number">Grant Number</option>
                <option value="ISBN">ISBN</option>
                <option value="Investigator">Investigator</option>
                <option value="Investigator - Full">Investigator - Full</option>
                <option value="Issue">Issue</option>
                <option value="Journal">Journal</option>
                <option value="Language">Language</option>
                <option value="Location ID">Location ID</option>
                <option value="MeSH Major Topic">MeSH Major Topic</option>
                <option value="MeSH Subheading">MeSH Subheading</option>
                <option value="MeSH Terms">MeSH Terms</option>
                <option value="Other Term">Other Term</option>
                <option value="Pagination">Pagination</option>
                <option value="Pharmacological Action">Pharmacological Action</option>
                <option value="Publication Type">Publication Type</option>
                <option value="Publisher">Publisher</option>
                <option value="Secondary Source ID">Secondary Source ID</option>
                <option value="Subject - Personal Name">Subject - Personal Name</option>
                <option value="Supplementary Concept">Supplementary Concept</option>
                <option value="Text Word">Text Word</option>
                <option value="Title">Title</option>
                <option value="Title/Abstract">Title/Abstract</option>
                <option value="Transliterated Title">Transliterated Title</option>
                <option value="Volume">Volume</option>
            </select>
        </div>
        <div class="column col-5">
            <input type="text" v-model="query.query" v-bind:query="query.query" v-on:keyup="updateCQR" class="form-input input-sm"/>
        </div>
        <div class="column col-2">
            <div class="btn-group">
                <a href="#" class="btn btn-action btn-sm" v-on:click="removeSelf"><i class="icon icon-minus"></i></a>
                <a href="#" class="btn btn-action btn-sm" v-if="last" v-on:click="addQuery"><i class="icon icon-plus"></i></a>
            </div>
        </div>
    </div>
</script>

<!-- Main app code. -->
<script src="/static/vue.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/lodash.min.js"></script>
<script src="/static/Sortable.min.js"></script>
<script src="/static/vuedraggable.min.js"></script>
<!--suppress JSUnusedGlobalSymbols -->
<script>
    var structuredID = 0;
    Vue.component("builder", {
        delimiters: ["[[", "]]"],
        template: "#builder",
        props: ["index", "last", "query"],
        data: function () {
            return {
                id: structuredID++,
            }
        },
        beforeMount: function () {
            this.updateCQR();
        },
        methods: {
            removeSelf: function () {
                this.$emit("remove", this.$props.index);
            },
            addQuery: function () {
                this.$emit("add", {query: "", fields: ["All Fields"], operator: "and", cqr: {}})
            },
            updateCQR: function () {
                if (this.$props.query.query.length === 0) {
                    this.$props.query.cqr = {query: this.$props.query.query, fields: [this.$props.query.field]}
                    return
                }
                var self = this;
                var request = new XMLHttpRequest();
                request.addEventListener("load", function (ev) {
                    if (ev.currentTarget.status === 200) {
                        self.$props.query.cqr = JSON.parse(ev.currentTarget.responseText)
                        self.$props.query.cqr = fixNilFields(self.$props.query.cqr, self.$props.query.field)
                    }
                });
                request.open("POST", "/api/query2cqr");
                request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                request.send("query=" + self.query.query + "[" + self.query.field + "]" + "&lang=pubmed");
            }
        }
    });

    fixNilFields = function (query, field) {
        if (query.children !== undefined && query.children.length > 0) {
            for (var i = 0; i < query.children.length; i++) {
                query.children[i] = fixNilFields(query.children[i], field)
            }
        } else if (query.fields[0] === "nil") {
            query.fields[0] = field
        }
        return query
    }

    var vm = new Vue({
        delimiters: ["[[", "]]"],
        el: "#app",
        data: {
            tabEditor: 0,
            tabVisualise: 0,
            numRet: 0,
            numRel: 0,
            numRelRet: 0,
            textQuery: "",
            queryLanguage: "{{.Language}}",
            queries: [{query: "", field: "All Fields", operator: "", cqr: {}}, {query: "", field: "All Fields", operator: "and", cqr: {}}],
        },
        computed: {
            cqrQuery() {
                var q = {};
                if (this.queries.length == 1) {
                    q = {
                        query: this.queries[0].query,
                        fields: [this.queries[0].field],
                    }
                } else {
                    for (var i = 0; i < this.queries.length; i++) {
                        var child = {}
                        if (!Object.keys(this.queries[i].cqr).length) {
                            child = {
                                query: this.queries[i].query,
                                fields: [this.queries[i].field],
                            }
                        } else {
                            child = this.queries[i].cqr;
                            if (child === undefined || child.operator == "") {
                                // console.log(JSON.stringify(child))
                                child = {
                                    query: this.queries[i].query,
                                    fields: [this.queries[i].field],
                                }
                            }
                        }
                        if (!Object.keys(q).length) {
                            q = child
                        } else {
                            q = {
                                operator: this.queries[i].operator,
                                children: [
                                    child,
                                    q
                                ]
                            }
                        }
                    }
                }
                return JSON.stringify(q)
            }
        },
        methods: {
            updateTree: function (e) {
                var self = this
                var el = document.getElementById("btn-update-tree");
                el.classList.add("loading");
                var request = new XMLHttpRequest();
                request.addEventListener("load", function (ev) {
                    el.classList.remove("loading");
                    console.log(ev.target.responseText)
                    var resp = JSON.parse(ev.target.responseText);
                    network.setData(resp);
                    for (var i = 0; i < resp.nodes.length; i++) {
                        if (resp.nodes[i].id == 1) {
                            self.numRet = resp.nodes[i].value
                        }
                    }
                    self.numRel = resp.NumRel;
                    self.numRelRet = resp.NumRelRet;
                });
                request.open("POST", "/plugin/queryvis", true);
                request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                request.send("query=" + this.textQuery + "&lang=" + this.queryLanguage);
                bb.log(e, "treesubmit", document.getElementById("search-box").value)
            },
            removeQuery: function (index) {
                this.queries.splice(index, 1)
                if (this.queries.length == 0) {
                    this.queries.push({query: ""})
                }
            },
            addQuery: function (query) {
                this.queries.push(query)
            },
            updateText: _.debounce(function () {
                var self = this;
                var request = new XMLHttpRequest();
                request.addEventListener("load", function (ev) {
                    if (ev.currentTarget.status === 200) {
                        self.textQuery = ev.currentTarget.responseText
                    }
                });
                request.open("POST", "/api/cqr2query");
                request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                request.send("query=" + self.cqrQuery + "&lang=" + self.queryLanguage);
            }, 300),
            clear: function () {
                this.queries = [{query: "", field: "All Fields", operator: "", cqr: {}}, {query: "", field: "All Fields", operator: "and", cqr: {}}];
            }
        },
        watch: {
            // Do not continue to update the log when we are not in the console tab.
            tabVisualise: function (val) {
                if (val === 2) {
                    ConsoleInitial = setTimeout(GetLog, ConsolePoll)
                } else {
                    clearTimeout(ConsoleInitial)
                }
            },
            cqrQuery: function () {
                this.updateText()
            }
        }
    })
</script>

<!-- Tree view. -->
<script src="/static/vis.min.js" type="text/javascript"></script>
<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([]);

    // create an array with edges
    var edges = new vis.DataSet([]);

    // create a network
    var container = document.getElementById('tree');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        physics: {
            enabled: true,
            hierarchicalRepulsion: {
                nodeDistance: 200
            }
        },
        edges: {
            font: {
                align: "top"
            },
            smooth: {
                enabled: true,
                type: "dynamic"
            },
            scaling: {
                label: {
                    enabled: true,
                    min: 25,
                    max: 30
                }
            }
        },
        nodes: {
            shape: "box",
            color: "#CED2FF",
            font: {
                color: "#333333"
            },
            scaling: {
                customScalingFunction: function (min, max, total, value) {
                    return value / total;
                },
                min: 60,
                max: 100,
                label: {
                    enabled: true,
                    min: 25,
                    max: 30
                }
            },
            widthConstraint: true
        },
        layout: {
            hierarchical: {
                enabled: true,
                blockShifting: false,
                edgeMinimization: true,
                parentCentralization: true,
                nodeSpacing: 10,
                levelSeparation: 250
            }
        }
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>
</body>
</html>