{{define "prestudy_questions"}}
    <form action="/plugin/iuserstudy?uid={{.UID}}" method="post">
        <input type="hidden" name="uid" value="{{.UID}}">
        <input type="hidden" name="protocol" value="{{.Protocol}}">
        <input type="hidden" name="interface" value="{{.Interface}}">
        <input type="hidden" name="step" value="{{.Step}}">
        {{template "form_scale" "How experienced do you believe you are at formulating queries for systematic review search?"}}
        {{template "form_scale" "How much experience do you believe you have at formulating queries for systematic review search in the PubMed interface?"}}
        {{template "form_short" "How much experience do you believe you have at formulating queries for systematic review search in the PubMed interface?"}}
        {{template "form_time" "Approximately how long do you spend, on average, formulating queries for systematic review search?"}}
        {{template "form_short" "What areas of health do you have the most experience formulating queries for systematic review search?"}}
        {{template "form_long" "If you were to think of one challenging part of how you currently formulate queries for systematic review search, what would it be and how would you like to see it changed?"}}
        {{template "form_submit"}}
    </form>
{{end}}

{{define "pretask_questions"}}
    <form action="/plugin/iuserstudy?uid={{.UID}}" method="post">
        <input type="hidden" name="uid" value="{{.UID}}">
        <input type="hidden" name="protocol" value="{{.Protocol}}">
        <input type="hidden" name="interface" value="{{.Interface}}">
        <input type="hidden" name="step" value="{{.Step}}">
        {{template "form_scale" "How much do you know about the topic of the task?"}}
        {{template "form_scale" "How defined is this task in terms of the types of information needed to complete it?"}}
        {{template "form_scale" "How difficult do you think it will be to search for information for this task?"}}
        {{template "form_scale" "How difficult do you think it will be to determine when you have a good enough query to complete this task?"}}
        {{template "form_submit"}}
    </form>
{{end}}

{{define "posttask_questions"}}
    <form action="/plugin/iuserstudy?uid={{.UID}}" method="post">
        <input type="hidden" name="uid" value="{{.UID}}">
        <input type="hidden" name="protocol" value="{{.Protocol}}">
        <input type="hidden" name="interface" value="{{.Interface}}">
        <input type="hidden" name="step" value="{{.Step}}">
        {{template "form_scale" "How much did your knowledge of the task increase as you searched?"}}
        {{template "form_scale" "Overall, how difficult was this task?"}}
        {{template "form_scale" "How difficult was it for you to construct a query  for this task?"}}
        {{template "form_scale" "How difficult was it to determine when you have a good enough query to finish the task?"}}
        {{template "form_scale" "Overall, how satisfied are you with your query for this task?"}}
        {{template "form_scale" "Overall, how satisfied are you with the interface used to assist you formulating the query for this task?"}}
        {{template "form_submit"}}
    </form>
{{end}}

{{define "poststudy_questions"}}
    <form action="/plugin/iuserstudy?uid={{.UID}}" method="post">
        <input type="hidden" name="uid" value="{{.UID}}">
        <input type="hidden" name="protocol" value="{{.Protocol}}">
        <input type="hidden" name="interface" value="{{.Interface}}">
        <input type="hidden" name="step" value="{{.Step}}">
        {{template "form_interface" "Which interface did you find it easier to formulate queries in?"}}
        {{template "form_short" "Why did you find it easier?"}}
        {{template "form_interface" "Which interface do you think was most helpful in assisting you to formulate queries?"}}
        {{template "form_short" "Why did you find it more helpful?"}}
        {{template "form_interface" "Which interface do you think you formulated the best query in?"}}
        {{template "form_short" "Why do you think you formulated the best query in the interface you chose?"}}
        {{template "form_long" "Please provide detailed feedback on your experience using both of the interfaces, including any problems you had (if any)."}}
        {{template "form_submit"}}
    </form>
{{end}}

{{define "protocol1"}}
    <h5>Title</h5>

    <p>Development of type 2 diabetes mellitus in people with intermediate hyperglycaemia</p>

    <h5>Criteria for considering studies for this review</h5>

    <h6>Study design</h6>
    <p>Prospective cohort studies investigating either the overall prognosis of people with IH for developing T2DM or IH versus normoglycaemia as a prognostic factor for developing T2DM (Altman 2001).</p>

    <h6>Inclusion criteria</h6>
    <p>Types of participants:</p>
    <p>To study the overall prognosis of people with IH and regression from IH to normoglycaemia, we included cohort studies in people with IH at baseline, defined by impaired fasting glucose (IFG), impaired glucose tolerance (IGT), elevated glycosylated haemoglobin A1c (HbA1c) or any combination of these. IH had to be established by standard cut‐off values for IFG, IGT or elevated HbA1c, as defined by ADA or WHO (ADA 1997; ADA 2003; ADA 2010; ICH 1997; IEC 2009; WHO 1998; WHO/IDF 2006).</p>
    <p>To study whether IH compared to normoglycaemia is a prognostic factor for developing T2DM, we included cohort studies in people with IH and normoglycaemia at baseline.</p>

    <h6>Definition of IH</h6>
    <p>We define IH according to ADA and WHO descriptions.</p>
    <ul>
        <li>IFG5.6 threshold, usually defined as a fasting plasma glucose level between 5.6 mmol/L and 6.9 mmol/L at baseline.</li>
        <li>IFG6.1 threshold, usually defined as a fasting plasma glucose level between 6.1 mmol/L and 6.9 mmol/L at baseline.</li>
        <li>IGT, usually defined as a plasma glucose level between 7.8 mmol/L and 11.1 mmol/L two hours after a 75 g OGTT at baseline.</li>
        <li>Isolated IFG was defined as IFG5.6 or IFG6.1 only (without IGT), and isolated IGT was defined as IGT only (without IFG5.6 or IFG6.1).</li>
        <li>HbA1c5.7 threshold, usually defined as HbA1c measurement between 5.7% and 6.4% at baseline.</li>
        <li>HbA1c6.0 threshold, usually defined as HbA1c measurement between 6.0% and 6.4% at baseline.</li>
    </ul>

    <h6>Types of outcome measures</h6>
    <p>Our outcome of primary interest is the diagnosis of newly developed T2DM (T2DM incidence). T2DM incidence should be diagnosed by blood glucose measurements such as fasting plasma glucose (FPG), two‐hour postload glucose (PG) or HbA1c. Diagnosis could be combined with self‐reported diabetes, physician‐diagnosed diabetes or use of antihyperglycaemic medications such as oral hypoglycaemic drugs, insulin or both.</p>

    <h6>Exclusion criteria</h6>
    <ul>
        <li>Intervention trials and study designs other than prospective cohort studies.</li>
        <li>People with comorbidities at baseline (e.g. people with coronary heart disease and IGT).</li>
        <li>Missing data on transition from IH to T2DM.
        <li>Follow‐up period after baseline assessment not specified (not possible to associate T2DM incidence with length of follow‐up).</li>
        <li>T2DM incidence evaluated by documents (e.g. hospital records, retrospective use of registers) or self‐report only.</li>
    </ul>
{{end}}
{{define "protocol2"}}
    <h5>Title</h5>

    <p>Development of type 2 diabetes mellitus in people with intermediate hyperglycaemia</p>

    <h5>Criteria for considering studies for this review</h5>

    <h6>Study design</h6>
    <p>Prospective cohort studies investigating either the overall prognosis of people with IH for developing T2DM or IH versus normoglycaemia as a prognostic factor for developing T2DM (Altman 2001).</p>

    <h6>Inclusion criteria</h6>
    <p>Types of participants:</p>
    <p>To study the overall prognosis of people with IH and regression from IH to normoglycaemia, we included cohort studies in people with IH at baseline, defined by impaired fasting glucose (IFG), impaired glucose tolerance (IGT), elevated glycosylated haemoglobin A1c (HbA1c) or any combination of these. IH had to be established by standard cut‐off values for IFG, IGT or elevated HbA1c, as defined by ADA or WHO (ADA 1997; ADA 2003; ADA 2010; ICH 1997; IEC 2009; WHO 1998; WHO/IDF 2006).</p>
    <p>To study whether IH compared to normoglycaemia is a prognostic factor for developing T2DM, we included cohort studies in people with IH and normoglycaemia at baseline.</p>

    <h6>Definition of IH</h6>
    <p>We define IH according to ADA and WHO descriptions.</p>
    <ul>
        <li>IFG5.6 threshold, usually defined as a fasting plasma glucose level between 5.6 mmol/L and 6.9 mmol/L at baseline.</li>
        <li>IFG6.1 threshold, usually defined as a fasting plasma glucose level between 6.1 mmol/L and 6.9 mmol/L at baseline.</li>
        <li>IGT, usually defined as a plasma glucose level between 7.8 mmol/L and 11.1 mmol/L two hours after a 75 g OGTT at baseline.</li>
        <li>Isolated IFG was defined as IFG5.6 or IFG6.1 only (without IGT), and isolated IGT was defined as IGT only (without IFG5.6 or IFG6.1).</li>
        <li>HbA1c5.7 threshold, usually defined as HbA1c measurement between 5.7% and 6.4% at baseline.</li>
        <li>HbA1c6.0 threshold, usually defined as HbA1c measurement between 6.0% and 6.4% at baseline.</li>
    </ul>

    <h6>Types of outcome measures</h6>
    <p>Our outcome of primary interest is the diagnosis of newly developed T2DM (T2DM incidence). T2DM incidence should be diagnosed by blood glucose measurements such as fasting plasma glucose (FPG), two‐hour postload glucose (PG) or HbA1c. Diagnosis could be combined with self‐reported diabetes, physician‐diagnosed diabetes or use of antihyperglycaemic medications such as oral hypoglycaemic drugs, insulin or both.</p>

    <h6>Exclusion criteria</h6>
    <ul>
        <li>Intervention trials and study designs other than prospective cohort studies.</li>
        <li>People with comorbidities at baseline (e.g. people with coronary heart disease and IGT).</li>
        <li>Missing data on transition from IH to T2DM.
        <li>Follow‐up period after baseline assessment not specified (not possible to associate T2DM incidence with length of follow‐up).</li>
        <li>T2DM incidence evaluated by documents (e.g. hospital records, retrospective use of registers) or self‐report only.</li>
    </ul>
{{end}}

{{define "qvus_header"}}
    <h2 style="margin: auto;width: 500px; padding: .2em;">Query Visualisation User Study</h2>
{{end}}