{{define "prestudy_questions"}}
    <form action="/plugin/iuserstudy?uid={{.UID}}" method="post">
        {{template "hidden_form_fields" .}}
        <!---->
        {{template "form_scale" dict "Question" "How much experience do you believe you have at formulating queries for systematic review search?" "Low" "a little" "High" "a lot"}}
        {{template "form_scale" dict "Question" "How much experience do you believe you have at formulating queries for systematic review search in the PubMed interface?" "Low" "a little" "High" "a lot" }}
        {{template "form_time" "Approximately how long do you spend, on average, formulating queries for systematic review search (per systematic review)?"}}
        {{template "form_short" dict "Question" "What areas of health do you have the most experience formulating queries for systematic review search? e.g., particular populations/conditions/interventions"}}
        {{template "form_long" dict "Question" "If you were to think of one challenging part of how you currently formulate queries for systematic review search, <b>what would it be?</b>"}}
        {{template "form_long" dict "Question" "If you were to think of one challenging part of how you currently formulate queries for systematic review search, <b>how would you like to see it changed?<b>"}}
        {{template "form_submit"}}
    </form>
{{end}}

{{define "pretask_questions"}}
    <form action="/plugin/iuserstudy?uid={{.UID}}" method="post">
        {{template "hidden_form_fields" .}}
        <!---->
        {{template "form_scale" dict "Question" "How much do you know about the topic of the task?" "Low" "no idea" "High" "a lot"}}
        {{template "form_scale" dict "Question" "How defined is this task in terms of the types of information needed to complete it?" "Low" "unclear" "High" "well-defined"}}
        {{template "form_scale" dict "Question" "How difficult do you think it will be to formulate an effective query for this task?" "Low" "challenging" "High" "very easy"}}
        {{template "form_scale" dict "Question" "How difficult do you think it will be to determine when you have an effective query to complete this task?" "Low" "challenging" "High" "very easy"}}
        <!-- Added from advice from Anton. -->
        {{template "form_scale" dict "Question" "How confident are you that you can formulate an effective query for the topic of this task?" "Low" "not at all" "High" "very confident"}}
        {{template "form_submit"}}
    </form>
{{end}}

{{define "posttask_questions"}}
    <form action="/plugin/iuserstudy?uid={{.UID}}" method="post">
        {{template "hidden_form_fields" .}}
        <!---->
        {{template "form_scale" dict "Question" "How much did your knowledge of the task increase as you searched?" "Low" "no increase" "High" "a lot"}}
        {{template "form_scale" dict "Question" "How difficult was it for you to formulate an effective query for this task?" "Low" "challenging" "High" "very easy"}}
        {{template "form_scale" dict "Question" "How difficult was it for you to determine when you have an effective query to finish the task?" "Low" "challenging" "High" "very easy"}}
        {{template "form_scale" dict "Question" "Overall, how satisfied are you with your query for this task?" "Low" "not satisfied" "High" "very satisfied"}}
        {{template "form_scale" dict "Question" "Overall, how satisfied are you with the interface used to assist you formulating the query for this task?" "Low" "not satisfied" "High" "very satisfied"}}
        <!-- Added from advice from Anton. -->
        {{template "form_scale" dict "Question" "How effective do you believe the query you selected to complete task is?" "Low" "not effective" "High" "very effective"}}
        {{template "form_scale" dict "Question" "How confident are you about the effectiveness of the query you selected to complete this task?" "Low" "not at all" "High" "very confident"}}
        {{template "form_submit"}}
    </form>
{{end}}

{{define "poststudy_questions"}}
    <form action="/plugin/iuserstudy?uid={{.UID}}" method="post">
        {{template "hidden_form_fields" .}}
        <!---->
        {{template "form_interface" "Which interface did you find it easier to formulate queries in?"}}
        {{template "form_short" dict "Question" "Why did you find it easier?"}}
        {{template "form_interface" "Which interface do you think was most helpful in assisting you to formulate queries?"}}
        {{template "form_short" dict "Question" "Why did you find it more helpful?"}}
        {{template "form_interface" "Which interface do you think you formulated the best query in?"}}
        {{template "form_short" dict "Question" "Why do you think you formulated the best query in the interface you chose?"}}
        {{template "form_long" dict "Question" "Please provide detailed feedback on your experience using both of the interfaces, including any problems you had (if any)."}}
        {{template "form_submit"}}
    </form>
{{end}}

{{define "protocol1"}}

    <h5>Objectives</h5>
    <p>To assess the benefits and harms of subfascial endoscopic perforator surgery (SEPS) for the treatment of venous leg ulcers.</p>

    <h5>Types of Studies</h5>
    <p>We include randomised controlled trials (RCTs) reported as full text, abstract only, or unpublished data. There are no language restriction.</p>

    <h5>Types of Participants</h5>
    <p>We include studies in which participants are adults with venous leg ulcers, defined as ulcers in the lower leg or ankle due to underlying venous disease. We also include participants with venous leg ulcers that may have been complicated by other comorbidities such as diabetes. The rationale for this is to provide a result more representative of real‐patient population demographics, and ideally increase the generalisability of our review findings. We exclude participants with leg ulcers
        caused by other aetiologies unrelated to venous ulcers, such as arterial, diabetic, or mixed aetiologies. We include studies with mixed populations provided that separate data is available for participants with venous leg ulcers.</p>

    <h5>Types of Interventions</h5>
    <p>The intervention is subfascial endoscopic perforator surgery (SEPS), either alone or in combination with another treatment method. We accept surgical and non‐surgical comparators, including but not limited to the following: conservative management alone (defined as compression bandaging or general wound care, or both); sham surgery (defined as a surgery that mimics the outward wound appearance of SEPS); another surgery for venous leg ulcer management that does not utilise SEPS (e.g.
        saphenous surgery, venous stripping); SEPS in conjunction with another surgical intervention (this is only accepted if the additional treatment method is applied to both intervention and comparator groups, that is as a co‐intervention in both groups); an alternative active intervention (e.g. debridement, zinc, mesoglycan, nutritional supplements, electromagnetic therapy, therapeutic ultrasound, topical agents).</p>

    <h5>Types of Outcome Measures</h5>
    <p>We will not limit study inclusion based on reporting of outcome measures. Primary outcomes Venous ulcer healing (i.e. proportion of ulcers healed within trial period, as defined by the trial authors). Time to complete healing (i.e. time from treatment commencement until ulcer resolution). Recurrence of venous ulcer (as reported in the trial). Secondary outcomes Health‐related quality of life (HRQOL). Adverse events (proportion of participants with any adverse event as defined by the
        individual trial). Serious adverse events (defined as an event resulting in hospitalisation, prolongation of hospitalisation, persistent or significant disability, a life‐threatening event, or death). Pain (as a continuous outcome, e.g. mean pain or mean change in pain, measured by visual analogue scale, numerical or categorical rating scale; or
        as a dichotomous outcome, e.g. proportion of participants reporting complete pain relief or proportion reporting at least 50% improvement in pain relief). No trials examined pain as an outcome measure, however we intend to also include one or more other measures of pain for the purpose of pooling data. We intend to combine overall pain with other types of pain in the following hierarchy: unspecified pain; pain at night; pain with activity; or daytime pain. Duration of
        hospitalisation. District nursing care requirements. We plan to extract data at 6, 12, and 24 month time points. We plan to only present 24 month data in the 'Summary of findings' tables. For adverse events, we only extracted the last time point.</p>

{{end}}
{{define "protocol2"}}
    <h5>Objectives</h5>
    <p>To assess the effectiveness and safety of NIPPV for preventing complications in patients who have undergone pulmonary resection for lung cancer.</p>

    <h5>Types of Studies</h5>
    <p>We include randomised controlled trials (RCTs) and quasi‐RCTs with no restriction regarding intervention and follow‐up length. We do not include cross‐over trials. We also exclude trials that only compare ventilatory modes of non‐invasive ventilation.</p>

    <h5>Types of Participants</h5>
    <p>Patients aged above 18 years of both genders, who underwent any type of lung resection (pneumectomy, lobectomy, segmentectomy) for lung cancer (small‐cell lung carcinoma (SCLC) or non‐small‐cell lung carcinoma (NSCLC)).</p>

    <h5>Types of Interventions</h5>
    <p>We include studies in which the intervention is non‐invasive positive pressure ventilation (NIPPV) started in the immediate postoperative period (defined as the first 24 hours after surgery) applied through a nasal or face mask. Two modalities of NIPPV are used: either continuous positive airway pressure (CPAP) or bi‐level positive airway pressure mode. We include studies which used as a control one or a combination of the following interventions: oxygen therapy in order to obtain
        pulse oximetry oxygen saturation (SpO2) ≥ 92% or arterial partial pressure of oxygen (PaO2) ≥ 65 mmHg; chest physiotherapy techniques for removing secretions; breathing exercises; incentive spirometry; no intervention.</p>

    <h5>Types of Outcome Measures</h5>
    <p>Primary outcomes: Pulmonary complication rate (i.e. pulmonary infections, bronchial congestion, atelectasis, acute lung injury, pleural fistula). Rate of intubation. Mortality.</p>
    <p>Secondary outcomes: Postoperative use of antibiotics. Length of intensive care unit stay. Length of hospital stay. Adverse effects related to NIPPV (i.e. skin damage, pulmonary aspiration, gastric distension, vomiting, asphyxia, pneumothorax, conjunctivitis, sinusitis, mask discomfort, claustrophobia).</p>
{{end}}

{{define "qvus_header"}}
    <h2 style="margin: auto;width: 500px; padding: .2em;">Study of Query Formulation for Systematic Review Creation</h2>
{{end}}